<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Magic 8 Ball
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Magic 8 Ball</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card (click)="giveAnswer()">

    <ion-card-header>
      Ask a question
    </ion-card-header>

    <ion-card-content>
      <img class="ball" src="../../assets/magic8ball.gif" [ngClass]="cssClass" alt="magic 8 ball">
    </ion-card-content>

  </ion-card>
</ion-content>
